<div class="beer-header-container">
    <figure class='beer-img-container'>
        <img src="{{this.image_url}}" alt='' class='beer-img' />
    </figure>
    <div class='beer-description-container'>
        <h3>{{this.name}}</h3>
        <p>{{this.description}}</p>
    </div>
</div>